.coursesblocks {
  border-color: rgba(0, 0, 0, 0.303);
  border-style: solid;
  border-width: 0.1rem;
  padding: 1rem 0rem 1rem 2rem;
  margin: 2% auto;
  width: 87vw;
}

.word {
  width: 63vw;
}

.explore {
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-color: #000000;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 0.1rem;
  display: block;
  width: 8rem;
}

.notesHead {
  font-weight: bold;
  font-size: 1.5rem;
}

.pythonimg {
  width: 13rem;
  height: 8rem;
  margin-top: 6%;
}

.course1 {
  width: 15rem;
  display: inline-block;
  margin-right: 1rem;
}

.pythoncourse {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: block;
}

.checked {
  color: gold;
}

.notchecked {
  color: gold;
}

.ratingsection {
  display: inline-block;
  color: gold;
  font-weight: bold;
  margin-right: 1%;
}

.money {
  display: block;
  font-weight: bold;
}

s,
.visiting {
  color: rgb(111, 110, 110);
  font-weight: lighter;
}

.authorName {
  display: block;
}

body {
  overflow-x: hidden;
  /* display: contents; */
}

.logo {
  width: 80px;
  height: 70px;
  vertical-align: middle;
  margin-left: 23px;
}

.categories {
  background-color: white;
  padding: 10px;
  line-height: 3.5;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  color: black;
}

.udemyBussiness,
.teachOnUdemy {
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  color: black;
}

.searchbar {
  border: 1px solid black;
  border-radius: 3rem;
}

.searchbar input[type=search] {
  width: 32vw;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none !important;
}


.cart {
  background-color: white;
  padding: 18px 18px 18px 0px;
  text-align: center;
  font-size: 20px;
  border: none;

}


.searchicon {
  margin-left: 15px;
}

.navBar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}


.login {
  background-color: white;

  border-color: black;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.signup {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;

}

.langbutton {
  background-color: white;
  padding: 8.5px 9px 8.5px 9px;
  text-align: center;
  font-size: 17px;
  border-color: #000000;
}

.middle {
  margin: 0.4% 1% 1% 1%;
}

.imgbanner {
  margin-top: 3%;
  padding: 2% 2% 2% 4%;
  position: relative;
}

.bannerimg {
  margin-top: -4.5%;
  margin-left: -1%;
  width: 100%;
}


.notesHead {
  font-weight: bold;
  font-size: 1.5rem;
}

.notesword {
  font-size: 1.2rem;
}

.notes {
  margin-top: -23%;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.2);
  padding: 2%;
  align-items: center;
  position: absolute;
  margin-left: 5%;
}

.notes2 {
  display: none;
}

.coursesnote {
  padding: 20px 20px 1px 20px;
  margin-left: 5%;
}

.courses {
  background-color: white;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-left: 5.8rem;
}
.circlebutton {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  margin-top: 3.5rem;
  background-color: #000000;
  right: 9%;
}

.arrow {
  color: white;
}
.top-Companies{
  background-color: #1c1d1f;
  padding: 2%;
  border-bottom: 0.5px solid white;
}
.udemy-business{
  color: #cec0fc;
  text-decoration: none;
}
.footer-note{
  font-weight:bold;
  font-size: 18px;
  color: white;
  margin-right: 15%;
  display: inline-block;
}
  .companies-icons{
    display: inline-block;
    }
.lower-part{
  background-color: #1c1d1f;
 padding: 2%;
height: 100%;
}
.link-column{
  margin-right:5% ;
  display: inline-block;
}
.link{
  text-decoration: none;
  color: white;
}
.language-button{
  background-color: #1c1d1f;
  color: white;
  padding: 1%;
  text-align: center;
  font-size: 15px;
  border: white 0.5px solid;
  float: right;
  
}
li{
  
  list-style-type:none;
}
.copy-rights{
  padding: 4% 2%;
}
.copy-rights p{
 font-size: 78%;
 float: right;
 color: white;
 margin: 2%;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  display: block;
  margin: 5% auto;
}
.course-info{
  background-color: #1c1d1f;
  padding: 1% 1% 1% 18%;
}
.course-title{
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.course-description{
  color: white;
}
.course-reviewers{
  font-weight: lighter;
  margin-left: 1%;
}
.course-enrollment,.last-updated,.course-language{
  color: white;
  font-weight: lighter;
  margin: 0 2% 0 1%;
  display: inline-block;
}
.closed-caption,.exclamation-circle,.course-creation,.global,.angle-right{
  color: white;
}
.angle-right{
  margin: 0 1%;
}
.course-type{
  color: #cec0fc;
}
.learn-box{
  margin: 1% 18%;
  border: 1px solid gray;
  padding: 1%;
}
.column1{
  display: inline-block;
}
.learn-column{
  display: inline-block;
}
.learn-column2{
  float: right;
    margin-right: 5%;
}
.learn-headline{
  font-size: 25px;
  font-weight: bold;
  margin-left: 3%;
}
.content-box{
  margin: 1% 18%;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #f7f9fa;
}
.accordion-button {
  background-color: #f7f9fa;
}
.requirement-column{
  list-style-type:disc !important;
  color: #000000;
}
.requirements,.description,.instructors{
  font-weight: bold;
  font-size: 25px;
}
.requirements-box,.description-box,.instructors-box{
  margin: 1% 18%;
}
.instructor-name{
  font-weight: bold;
  font-size: 18px;
  display: block;
}
.instructor-job{
  font-size: 17px;
  display: block;
  color: #6a6f73;
}
.instructor-photo{
  border-radius: 50%;
  margin-top: -11%;
}
@media only screen and (max-width:800px) {

  .rightside {
    display: none;
  }

  .line {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0 0 15px;
    display: block !important;
  }

  .categories {
    display: none;
  }

  .logo {
    margin-left: 17rem;
    margin-top: -2.5rem;
  }

  .searchbar {
    display: none;
  }

}

@media only screen and (max-width:1525px) {

  .teachOnUdemy,
  .udemyBussiness {
    display: none;
  }
}

@media only screen and (max-width:1133px) {

  .notes {
    display: none !important;
  }

  .notes2 {
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.2);
    padding: 3%;
    align-items: center;
    margin: 1% auto;
    display: block !important;
    margin-right: 3%;
    margin-left: 3%;
  }
}
@media only screen and (max-width:1511.5px) {

  .circlebutton {
      display: none;
  }

  .arrow {
      display: none;
  }

}